.loginBox {
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to right,
            darkblue,
            darkorchid);
    border-image-slice: 1;
    /* margin-top: 100px;
    margin-left:700px; */
    /* margin: 100px 0px 0px 700px; */
    max-width: 50%;
    height: 500px;

    flex-grow: 1;
    margin-top: 100px;
    background: rgb(51, 48, 54);
/* background: linear-gradient(90deg, rgb(195, 121, 245) 0%, rgb(239, 100, 100) 50%, rgb(255, 185, 86) 100%); */

}

.login_form {
    display: flex;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    width: 400px;
    margin: 0px auto;
    color: white;
}

.email_input {
    padding-top: 100px;
}

.email_input>input {
    margin-left: 57px;
    height: 40px;
    width: 200px;
    border-radius: 5px;
}

.password_input>input {
    margin-left: 22px;
    height: 40px;
    width: 200px;
    border-radius: 5px;
}
label{
    font-size: 20px;
}
.login_bt {
    margin: 0 auto;
    margin-left: 108px;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}


.change_page {
    align-items: left;
    margin-top: 40px;
    border: none;
    color: white;
    background: none;
    cursor: pointer;
    font-size: 20px;
}

/* this is to remove placeholder on focus   */
input:focus::placeholder {
    color: transparent;
  }

  @media screen and (max-width: 600px) {
    .login_form, input[type=submit] {
      width: 100%;
      margin-top: 0;
      
      
    }
    label{
        margin-left: 2%;
    }
    .email_input>input {
        margin-left:4px;
    }
    .password_input>input {
        margin-left: 4px;
    }
    .login_bt{
        margin-left: 10%;
    }
    }


  